body {
	font-family: 'Montserrat';
	font-size: 22px;
	background-color: #CECBCE; 
	margin: 0;
	padding: 20px;
}

header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
}

header h2.intranet-logo {
	color: #848284;
	font-size: 28px;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 0;
	margin: 0;
}

header .search-box {
	position: absolute;
	width: 220px;
	height: 32px;
	right: 160px;
	border: 1px solid white;
	
}

header .search-box input {
	width: 80px;
	
}

header .profile-name {
	font-size: 16px;
}

header .profile-menu {
	position: absolute;
	width: 160px;
	border: 1px solid white;
	right: 0px;
}

header .profile-dropdown {
	
	
}

.arrow-down-icon {
	 font-size: 30px;
	 font-family: Arial;
}

/*
	TEAM PAGE
*/

.team-page-view {
	position: relative;
	margin: 0 20px;
}

.departments-section {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 180px;
	background: #1875f7;
	padding: 0 20px;
}

.departments-section-header {
	color: #fff;
}

.team-section {
	padding: 20px 0px 100px 260px;
	background: #fff;
	color: #5a595a;
}